COHERE_API_KEY=''
MODEL_NAME='command-a-03-2025'
MAX_FILE_SIZE=10*1024*1024
DATABASE_URL=postgresql+psycopg2://postgres:yourpass@localhost:5432/interview_assistant
FASTAPI_URL=http://127.0.0.1:8000


MTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=your email
SMTP_PASSWORD=your pass
